{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %} {{ product.name }} {% endblock %}
{% block site_title %} {{ product.name }} {% endblock %}

{% block extra_js %}
<script>
    document.getElementById("stock_quantity").setAttribute("max", {{product.stock_quantity}});
</script>
{% endblock %}

{% block page_content %}
<section class="shop-details-area ptb-100">
    <div class="container">
        <div class="shop-details">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="product-img-slides">
                        <div class="product-img">
                            <a href="#"><img src="{{ product.image.url }}" alt="product-img"></a>
                        </div>
                        <div class="product-img">
                            <a href="#"><img src="{{ product.image.url }}" alt="product-img"></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12">
                    <div class="product-entry-summary">
                        <h3>{{ product.name }}</h3>
                        <h4 class="text-danger">{{ product.seprated_price }} تومان</h4>
                        {{ product.description|truncatewords:30 }}
                        <br><br>
                        <ul class="product-categories">
                            <li>دسته بندی ها:</li>
                            {% for cat in product.category.all %}
                                <li><a href="{% url 'products:category_products' cat.slug %}">{{cat.name}}</a> , </li>
                            {% endfor %}
                        </ul>

                        <ul class="product-categories">
                            <li>موجودی انبار:</li>
                            <li class="text-muted">{{ product.stock_quantity }}</li>
                        </ul>

                        <form action="{% url 'orders:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {% render_field form.quantity class="form-control text-center" id="stock_quantity" placeholder="تعداد" value=cart_quantity  %}
                            <input class="btn btn-primary" type="submit" value="افزودن به سبد خرید">
                        </form>

                        <ul class="share-social">
                            <li>اشتراک:</li>
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="shop-details-tabs">
                        <ul id="tabs">
                            <li class="active" id="tab_1">توضیحات</li>
                            <li class="inactive" id="tab_2">نظرات</li>
                        </ul>
                        <div class="content show" id="tab_1_content">
                            <div class="shop-description">
                                <h3>توضیحات</h3>
                                {{ product.description|linebreaks }}
                            </div>
                        </div>

                        <div class="content" id="tab_2_content">
                            <div class="shop-reviews">
                                <h3>نظرات</h3>
                                <p>بهترین قالب آژانسی</p>
                                <b>اولین باشید در “انتخاب برتر”</b>
                                <p>رتبه شما</p>

                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                            <i class="icofont-star"></i>
                                        </a>
                                    </li>
                                </ul>

                                <form class="review-form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                           <div class="form-group">
                                                <textarea name="review-message" id="message" cols="30" rows="4" placeholder="نظر شما.." class="form-control"></textarea>
                                           </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="نام" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" placeholder="ایمیل" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12">
                                            <button type="submit" class="btn btn-primary">ارسال</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}