{% load static %}
{% load panel_base_tags %}

<div class="navigation">
    <div class="navigation-icon-menu">
        <ul>
            {% nav_menu request 'home' '#navigationDashboard' 'داشبورد' 'ti-pie-chart' %}
            {% nav_menu request 'order_list,order_detail,payments' '#navigationOrders' 'مدیریت سفارشات' 'ti-align-right' %}
            {% nav_menu request 'profile' '#navigationProfile' 'پروفایل کاربری' 'ti-user' %}
        </ul>
        <ul>
            <li data-toggle="tooltip" title="نمایش سایت">
                <a href="{% url 'home' %}" target="_blank" class="go-to-page">
                    <i class="icon ti-world"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="خروج">
                <a href="{% url 'accounts:logout' %}" class="go-to-page">
                    <i class="icon ti-power-off"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navigation-menu-body">
        <ul id="navigationDashboard" class="{% nav_active request 'home' %}">
            <li class="navigation-divider">صفحه اصلی</li>
            {% nav_item request 'home' 'داشبورد' %}
        </ul>
        <ul id="navigationOrders" class="{% nav_active request 'order_list,order_detail,payments' %}">
            <li class="navigation-divider">مدیریت سفارشات</li>
            {% nav_item request 'order_list' 'لیست سفارشات' %}
            {% nav_item request 'payments' 'لیست پرداختی‌ها' %}
        </ul>
        <ul id="navigationProfile" class="{% nav_active request 'profile' %}">
            <li class="navigation-divider">مدیریت حساب</li>
            {% nav_item request 'profile' 'ویرایش پروفایل' %}
        </ul>
    </div>
</div>